<!-- ======= Footer ======= -->
<footer id="footer" class="footer bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="copyright">
      &copy; Copyright <strong><span>Pinnacle e-Invoice Middleware Portal</span></strong>. All Rights Reserved 2025 -
      2026
      | Designed by <a href="https://pixelcareconsulting.com" class="text-blue-400">Pixelcare Consulting</a>
    </div>
    <div class="credits">
      <p class="small text-muted">Build {{appFullVersion}}</p>
    </div>

  </div>
</footer>
<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>



<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>