<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Pinnacle e-Invoice Middleware Solution</title>
    
    <!-- Include your CSS files -->
    {% include 'partials/head.html' %}
</head>
<body>
    <!-- Main content without header and footer -->
    {% block content %}{% endblock %}

    <!-- Include only necessary scripts -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
</body>
</html>